<h1><%=@dog.name%><h1>
<h2><%=@dog.breed%><h2>
<h2><%=@dog.age%><h2>

<h3> Employees asccoiated with <%=@dog.name%></h3>
<%@dog.employees.each do |employee|%>
<%=link_to employee.full_name, employee_path(employee)%><br>
<%end%>